

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.banner_content {
    display: block;
    background-color: "white";
    background-image: url("../../images/Startup-San-Diego-Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 80%;
    height: 200px;
    justify-content:center
}

.imageBox{
    width:500px;
    height: 450px;
    text-align: center;
    padding-right: 0;
    padding-left:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #e3e3e3;
    min-height: 40vh;
    color: #000;
    background-image: url(../../images/pattern.png);
    background-repeat:repeat;
    background-color: rgba(0,0,0,.2);
    word-wrap: break-word
}

.logo {
    display: block;
    clear: both;
    padding: 1%
}
.logo img {
    width: 40%;
    margin: 0 auto;
}

.title{
    font-size: 1.6em;
    font-weight: 600;
    min-height: 40px;
    margin: 0;
}
h1{
    margin: 0;
    font-size: 1.4em;
}
.name{
    font-size: 1.4em;
    font-weight: 600;
    min-height: 40px;
    margin: 0;
    float: right;
    text-align: left;
    width: 60%;
    padding: 5px
}
.image{
    float: left;
    margin: 0
}

.image img{
    max-height: 200px;
    max-width: 200px;
    padding: 5px;
    margin: 0
}
h3{
    margin: 0;
    font-size: 1.2em
}
.jobTitle{
    float: right;
    text-align: left;
    width: 60%;
    padding: 5px;    
}
.description{
    float: right;
    text-align: left;
    width: 60%;
    padding: 5px   ;
    font-size: 1.1em
}
p{
    margin: 0;
}
.when{
    width: 100%;
    padding: 5p;
    clear: both;
    font-size: 2em;
    color: #1191ba;
}
.where{
    width: 100%;
    padding: 5p;
    clear: both;
    font-size: 2em;
}
.canvas {
    max-width: 400px
}

.row{
    margin: 20px auto;
}

.footer{
    position: absolute;
    bottom: 0;
    padding:0 20px;
    background-color: #4e5b69;
    width: 100%;
    min-height: 50px;
    font-size: 1.8em;
    color: #e3e3e3;
    line-height: 2em;
}
.footer p {
    margin: 0
}